.guide-box {
	opacity: 70%;
	margin: 0 auto;
	position: fixed;

	right: -220px;
	top: 160px;
	transform: translate(-50%, -50%);
	z-index: 998;
	background: #521751;
	padding: 10px 10px;
	border-radius: 8px;
	text-align: left;
	vertical-align: top;
	color: white;
	word-wrap: break-word;
	max-width: 450px;
	min-width: 50px;
}

.guide-button {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 24px;
	width: 30px;
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	box-sizing: border-box;
}

.guide-button:focus {
	outline: none;
}

.guide-button_line {
	position: fixed;
	top: 0;
	left: 0;
	margin: 10px 5px;
	width: 15px;
	height: 2px;
	background: white;
	transform: rotate(45deg);
}
.left {
	transform: rotate(45deg);
}
.right {
	transform: rotate(135deg);
}

p {
	text-decoration: underline;
	text-align: center;
}

@media (max-width: 768px) {

	.guide-box {
		max-width: 250px;
		left: 30%;
		top: 220px;
	}
}

